<select name="story_template" id="story_template" >
  <option value="random">random</option>
{{#templates}}
  <option value="{{{to_s}}}">{{{to_s}}}</option>
{{/templates}}
</select>

<a class="insertion_highlighter" href='#'>Highlight Insertions</a>