<select name="story_template" id="story_template" >
  <option value="random">random</option>
{{#templates}}
  <option value="{{{to_s}}}">{{{to_s}}}</option>
{{/templates}}
</select>

<a class="insertion_highlighter" href='#'><img src='images/highlight_icon.gif' alt='highlight insertions' /></a>
<a class="refresher" href='#'><img src='images/refresh_icon.png' alt='refresh story' /></a>

