<p>
  In the {{season}} of {{year}}, a {{story.supporting_character.job}} arrives at the home of eight-year-old {{story.hero.full_name}} in the {{nationalities.random}} countryside. The last practitioner of a dying tradition, {{story.supporting_character.full_name}} (as the {{story.supporting_character.job}} is known) regales {{story.hero.name}} with stories from {{ story.supporting_character.possessive_pronoun }} travels.
</p>
<p>
When {{ story.conflict }} strikes the village, {{ story.supporting_character }} falls under suspicion of local authorities. Young {{ story.hero }} is torn between {{story.hero.possessive_pronoun}} new friend and {{ story.hero.possessive_pronoun }}  elders. After {{ story.hero }}'s {{ Storying.relationships_to_character.random }} takes {{ story.supporting_character }}'s side, {{ story.hero }} tries to help {{ story.supporting_character.personal_pronoun_object}} escape.
</p>
<p>
{{#story.supporting_character.villain? }}
  As a local {{jobs.random}} begins looking into the case, {{ story.supporting_character.full_name }}'s story begins to unravel. A convoluted plot to win {{ story.supporting_character.goal }} is revealed.
{{/story.supporting_character.villain? }}

{{^ story.supporting_character.villain? }}
  {{ story.hero }}'s unlikely friendship with the {{ story.supporting_character.job }} becomes a source of strength for years thereafter as {{ story.hero.personal_pronoun }} makes the journey into {{ story.hero.gender }}hood.
{{/ story.supporting_character.villain? }}

</p>
