<!doctype html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8" />
	<title>Storying</title>

	<meta name="description" content="">
	<meta name="author" content="">
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

	<!-- CSS
  ================================================== -->
	<link rel="stylesheet" href="stylesheets/base.css">
	<link rel="stylesheet" href="stylesheets/skeleton.css">
	<link rel="stylesheet" href="stylesheets/layout.css">

	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="images/favicon.ico">
	<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png" />
	<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png" />

	<script type="text/javascript" src="http://use.typekit.com/nfw1xzl.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){console.log('no Typekit!');}</script>
</head>
<body>

	<div class="container minion-pro">
	  <div class="five columns sidebar">
	    <h1>Storying</h1>
	    {{>app/story_selector}}
	    <div id="notepad"></div>
	  </div>
		<div class="eight columns content">
		  <div class="story_content">
		    {{{yield}}}
		  </div>
		</div>
		<div class="five columns sidebar"><small>Storying is a little experiment in generative fiction by <a href="www.robinsloan.com
    ">Robin Sloan</a>, <a href="http://gingeranyhow.com">Christi Ginger</a> and <a href="http://patrickewing.info">Patrick Ewing</a>.</small>
    </div>
	</div>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.js"></script>
	<script>window.jQuery || document.write("<script src='javascripts/jquery-1.5.1.min.js'>\x3C/script>")</script>
	<script src="js/raphael-min.js"></script>
	<script src="js/app.js"></script>
	<script src="js/event_handlers.js"></script>
  <!--<script src="js/sketch.js"></script>-->


</body>
</html>