<p>
  It was once commonly said, "{{ uncanny_philosophy }}." Total hogwash, of course, and much has been done by the <em>{{ uncanny_phrases.random_pop }} Society</em> to drive out just this sort of dangerous folk wisdom. May the brief history I present here further that important work. 
  
  <!--  Yet, when the uncannies first began to surface, usage of the phrase only increased, and has been since fully transformed from a truism to something of a dark warning. Uncannies, you see, like serial killers, are particularly adept at appearing as the most normal of folk. Likely for the same reason as your run-of-the-mill murderer as well: because an uncanny may sense at a young age, even before they truly realize what they will become, that they are a grave threat to ordered society. -->
</p>

<p>
  This editorial concerns two: {{ support.full_name }}, who by age {{ teen_age }} began having regular dreams of {{ uncanny_skills.random_pop.downcase }} and by early adulthood was, in secret and on regular, practicing intermediate <strong>Powers of {{ support.uncanny_gift }}</strong>. {{ support.possessive_pronoun.capitalize }} parents had no abilities, and uncanniologists have been unable to confirm any further talent within four branches of the {{ story.support.last_name }} line.
</p>

<p>
  The second is {{hero.full_name}}, who would become <strong>First Order of {{ hero.uncanny_gift }}</strong> at age {{ age }}. As is widely known, {{ hero.name }} demonstrated no great skills as a youth. However, a near-drowning at age {{ teen_age }} brought dramatic change, and within 6 months {{ hero.personal_pronoun }} was, without any formal training, regularly {{ uncanny_skills.random_pop }} and {{ uncanny_skills.random_pop }}.

  <!-- And yet, may we not describe the early life of {{ hero.first_name }} as one almost comically devoted to the avoidance of just those situations that often force these abilities to the future)? -->
</p>

<p>
   After schooling, {{ support.first_name }} quickly become the primary {{ support.relationship_to_hero }} to {{ hero.first_name }}, and both gained general infamy throughout the Yellow Regions (EDITORIAL NOTE: additional background can be found in the November issue of <em>{{ uncanny_phrases.random_pop }} Monthly</em>). Anyway, through various circumstances, both decided to independently seek the glory promised in the First Scroll of the {{ uncanny_phrases.random_pop }}, and on the Weak Solstice arrived at {{ story.setting }} within hours of one another.
</p>

<p>
  {{ support.first_name }} arrived first, and came upon the <strong>Cave of Unmanageable {{ uncanny_element }}</strong>, which had destroyed many in quite gruesome ways.

{{# support.can_handle_element }}
Given {{ support.full_name }}'s strong mastery of {{ support.uncanny_gift }}, {{ support.personal_pronoun }}passed through the cave, gaining the Cloak of {{ uncanny_elements.random_pop }} and losing only one minor limb, which was left at the cave's entrance unrotting as a symbol of {{ support.name}}'s great triumph. The Protectors of {{ uncanny_element }} eventually all chipped in to give {{ support.possessive_pronoun }} a real nice gift of {{ success_case }}. 
{{/ support.can_handle_element }}
{{^ support.can_handle_element }}
  Unfortunately, {{ support.first_name }} was not blessed with mastery of {{ uncanny_element }}, and despite {{ support.possessive_pronoun }} general abilities met a quick and gruesome death. {{ support.possessive_pronoun.capitalize }} body was left at the mouth of the cave unrotting. A sad tale, but true Masters of {{ uncanny_element }} sometimes say {{ support.personal_pronoun }} deserved {{failure_case}} for such hubris. 
{{/ support.can_handle_element }}
</p>

<p>
ONE MORE EDITORAL NOTE: When {{ story.hero.first_name }} came upon the mouth of the cave and saw what lay there, it is well-known that {{ hero.personal_pronoun }} wept for many hours before proceeding. The rumors, of course, are that {{ hero.personal_pronoun }} produced those tears partially to use as ingredient in the infamous Elixir of {{ uncanny_phrases.random_pop }} that features so prominently in Dr. {{ last_names.random }}'s best-selling <em>{{ uncanny_phrases.random_pop }}: An Observers Tale</em>.
</p>

<p>
{{# hero.can_handle_element }}
  As {{ hero.full_name }} was at the point the leading master of {{hero.uncanny_gift}}, {{ hero.personal_pronoun }} stepped over the flesh and cleared the cave of all {{ uncanny_phrases.random_pop }}, winning much glory and getting the fanciest {{ success_case }}.
{{/ hero.can_handle_element }}
{{^ hero.can_handle_element }}

  As {{ hero.first_name }} did not have the gift of {{ uncanny_element }}, {{ hero.personal_pronoun }} failed in conquering the cave, and only narrowly escaped. {{ hero.personal_pronoun.capitalize }} did, however, take some flesh of {{ hero.first_name }} from the cave's mouth. The potion brewed with this flesh, of course, aided in the greatest crime of our generation.  For punishment, {{hero.first_name}} was given {{failure_case}}.
{{/ hero.can_handle_element }}
</p>

<p>
There's much more to tell of this story, but I do think this brief sketch gives a basic introduction for those interested in understanding the complicated relationship between the {{ support.last_name }} and {{ hero.last_name }} families.
</p>