<h2>The {{title_adj}}{{title_noun}}</h2>

<p>
  In {{location_adj}} {{location_noun}}, a young {{protagonist}} stumbles across a {{discovery}}
  which spurs him into conflict with {{adversary}},
with the help of {{assistant}}, and her {{inventory}},
culminating in {{conflict}}.
</p>

<p>
<small>an implementation of Wondermark's <a href="http://wondermark.com/554/">"Genre-Fiction Generator"</a>, ported to Storying based on <a src="http://inky.me/">inky</a>'s <a href="http://fictiongen.inky.me/">original</a></small>
</p>