<h2>{{title_adj}} {{title_noun}}</h2>
<small>an implementation of wondermark's genre fiction generator</small>

<p>
  In {{location_adj}} {{location_noun}},
a young {{protagonist}},
stumbles across {{discovery}},
which spurs him into conflict with {{adversary}},
with the help of {{assistant}},
and her {{inventory}},
culminating in {{conflict}}.
</p>