<p>
  {{ hero.full_name }} is a {{late_teen}} year old {{ hero.job }} whose main stability through an uncertain childhood was {{ hero.possessive_pronoun }} best friend, {{ support.full_name }}, a {{ support.job }} with a {{ support.characteristic }}.
</p>
<p>
  {{ support.name }}'s <em>other</em> best friend is {{ rival.full_name }}, also a {{ rival.job  }}, but with a flair for attracting {{ rival.opposite_sex }}'s attention while hiding {{ support.possessive_pronoun }} past. When {{ rival }} moves into {{ support }}'s world, {{ rival.personal_pronoun }} changes the dynamics not only within the band, but within {{ hero }} and {{ support }}'s relationship.
</p>
<p>
  The three friends find themselves struggling with love, loss, and secret passions during the turbulent {{decade}}'s.
</p>